Webhook-AI-Agent.json
{
  "name": "My workflow 3",
  "nodes": [
    {
      "parameters": {
        "promptType": "={{$json[\"query\"]}}",
        "text": "",
        "options": {
          "systemMessage": "You are an AI shopping assistant.\n\nYour job:\n- Understand product search queries\n- Use the SerpAPI tool to fetch products\n- Compare prices\n- Return best deals only\n\nDo not chat. Only return product results."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        800,
        0
      ],
      "id": "3ce69db0-7143-4d55-98c6-908c3bd8d979",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        704,
        176
      ],
      "id": "d6d520d7-293d-4fc5-a2cb-d1ab99bce2b9",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "SrSstVC6NcGNstEX",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        880,
        192
      ],
      "id": "e021252b-b11c-4639-87e4-454b056867d9",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "options": {
          "google_domain": "=q = {{$json[\"query\"]}}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolSerpApi",
      "typeVersion": 1,
      "position": [
        1024,
        192
      ],
      "id": "d3f82589-a837-4a1d-b425-919b77416f8b",
      "name": "SerpAPI",
      "credentials": {
        "serpApi": {
          "id": "pxOMmf0LmqHHyuZr",
          "name": "SerpAPI account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1136,
        0
      ],
      "id": "d1105b31-b127-4629-9d59-3f70ac36fabb",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ea81e7cf-2dbb-492a-a546-f17e7502be26",
              "name": "query",
              "value": "{{$json[\"body\"][\"query\"]}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        560,
        0
      ],
      "id": "e809eddd-86ea-489e-bb28-820e317454e2",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "multipleMethods": true,
        "httpMethod": [
          "POST"
        ],
        "path": "search",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*",
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "GET, POST, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        336,
        0
      ],
      "id": "52029e69-a9b5-497c-9a57-60d126a06373",
      "name": "Webhook",
      "webhookId": "fa2e4af3-b92b-4a5d-9489-1a023b460693",
      "retryOnFail": false
    }
  ],
  "connections": {
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "SerpAPI": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "staticData": null,
  "pinData": {},
  "triggerCount": 0,
  "meta": {
    "templateCredsSetupCompleted": true
  }
}